@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland|Rubik');

* {
  margin: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-size: 16px;
}
#root {
  background-image: url('websiteHome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.intro {
  width: 100%;
  height:100%;
  top: 0;
  background-size: cover;
  padding-top: 30px;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  font-family: 'Raleway';
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
  margin-right: 80px;
}

.copyright {
  font-family: 'Oswald';
  text-align: center;
}


li {
  float: left;
  display: inline;
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: fixed;;
}
.wipe {
}

.header-link {
  font-family: 'Rubik';
  font-size: 15px;
  text-shadow:0px 0px 2000px #000;
  color: #F9F3F4;
}

.header-name {
  font-family: 'Mr De Haviland', cursive;
  text-shadow:0px 0px 2000px #000;
  color: #F9F3F4;
  font-size: 500%;
}

a {
  color: white;
  text-decoration: none;
  display: inline;
}

a:hover {
  color: grey;
}

.component-header {
  padding-top: 30px;
}